@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');

body, html{
	height:100%;
}

body{
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #323339;
	margin: 0;
	padding: 0;
}

header, footer{
	background-color: #7cc576;
	color: #fff;
	padding: 20px;

	display: grid;
	grid-template-columns: 1fr, auto;
  	grid-gap: 10px;
}

.left-corner{
	grid-column: 1 / 2;
  	grid-row: 1;
}

#logo{
	width: 25%;
	margin-left: 5px;
}

#logo img{
	width: 100%;
}

nav{
	grid-column: 2;
  	grid-row: 1;

  	display: flex;
	justify-content: flex-end;
	align-self: center;
}

nav a{
	color: #fff;
	text-decoration: none;
	margin-right: 20px;
}

nav a:hover{
	border-bottom: 1.5px solid #ffbe40;
}

main{
	padding: 20px;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
  	grid-column-gap: 40px;
  	grid-row-gap: 20px;
}

.profilePic{
	grid-column: 1 / 3;
	grid-row: 2;
  	width: 100%;
}

.profile{
	grid-column: 3 / 5;
  	grid-row: 2;

  	display: grid;
	grid-template-columns: 2fr;
  	grid-gap: 10px;
}

.profile h3{
	margin-bottom: -10px;
}

.heading{
	grid-column: 1 / 3;
  	grid-row: 1;
}

.a{
	grid-column: 1;
	grid-row: 2;
}

.b{
	grid-column: 2;
	grid-row: 2;
}

#likeBtn{
	width: 7%;
	margin-top: 10px;
}

#toggle {
	width: 100%;
}

.description{
	grid-column: 1 / -1;
  	grid-row: 3;
}

.centerTitle{
	text-align: center;
}

.spacer{
	padding: 80px;
}

.heroMsg{
	padding: 80px;
	text-align: center;
}

.heroMsg h1{
	color: #ef746f
}

.heroMsg h2{
	color: #ffbe40;
}

.recentCntnr{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
  	grid-gap: 10px;
}

.recentCntnr h1{
	grid-column: 1 / -1;
	grid-row: 1;
	text-align: center;
}

#browseCntnr{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
  	grid-gap: 10px;
  	padding-bottom: 20px;
}

#results{
	grid-column: 1 / 5;
  	grid-row: 1;

  	display: grid;
	grid-template-columns: repeat(3, 1fr);
  	grid-gap: 10px;
}

aside{
	grid-column: 5 / 6;
  	grid-row: 1;
  	padding-right: 20px;
}

.pet img{
	width: 100%;
}

.pet{
	padding: 20px;
}

.info{
	text-align: center;
}

.pet a{
	background-color:#ef746f;
	color: #fff;
	padding: 5px;
	text-decoration: none;
	width: 100%;
	display: flex;
	justify-content: center;	
}

.pet p{
	font-size: 14px;
}

#petChanges{
	display: grid;
	grid-template-columns: 1fr;
  	grid-gap: 10px;
}

.profile a{
	color:#ef746f;
	text-decoration: none;
	font-weight: 600;
}

.profile a:hover{
	color:#ab3e5b;
}

#profilePg{
	display: grid;
	grid-template-columns: 1fr;
  	grid-gap: 10px;

  	margin-top: 20px;
}

#userProfile, #shelterProfile{
	grid-column: 1 / -1;
  	grid-row: 1;

  	display: grid;
	grid-template-columns: repeat(4, 1fr);
  	grid-column-gap: 40px;
  	grid-row-gap: 10px;
}

#userProfile img{
	grid-column: 1;
  	grid-row: 1 / 4;
  	width: 100%;
}

#shelterProfile img{
	grid-column: 1 / 3;
  	grid-row: 1 / 4;
  	width: 100%;
}

#userProfile .nameRow{
	grid-column: 2 / 4;
	grid-row: 1;
}

#shelterProfile .nameRow{
	grid-column: 3 / 5;
	grid-row: 1;
}

.editBtn{
	grid-column: 4 / 5;
	grid-row: 1;

	display: flex;
	justify-content: flex-end;
}

#userProfile h3{
	grid-column: 2;
  	grid-row: 2;
}

#shelterProfile h3{
	grid-column: 3;
  	grid-row: 2;
}

.infoColA{
	grid-column: 2;
  	grid-row: 3;
}

.infoColB{
	grid-column: 3;
  	grid-row: 3;
}

.infoColC{
	grid-column: 4;
  	grid-row: 3;
}

#contactInfo{
	grid-column: 3 / -1;
	grid-row: 3;
}

.nameRow h1{
	margin: 0;
}

.nameRow h3{
	margin-top: 5px;
}

h4{
	margin-bottom: -10px;
}

#userProfile h2{
	margin-bottom: -5px;
}

#matches{
	grid-column: 1 / -1;
  	grid-row: 2;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
  	grid-gap: 10px;

  	padding-top: 40px;
}

#shelterPets{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
  	grid-gap: 10px;

  	padding-top: 40px;
}

#matches h1, #shelterPets h1{
	grid-column: 1 / -1;
	grid-row: 1;
	text-align: center;
}

.formPg{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
  	grid-gap: 10px;
}

.formPg h1{
	grid-column: 1 / -1;
	grid-row: 1;
	text-align: center;
}

.formPg form{
	grid-column: 2 / 5;
	grid-row: 2;

	display: grid;
	grid-template-columns: 1fr;
  	grid-gap: 20px;
}

.formPg .altForm{
	grid-column: 2 / 5;
	grid-row: 3;

	display: grid;
	grid-template-columns: 1fr;
  	grid-gap: 20px;
}

.formPg p{
	grid-column: 2 / 5;
	grid-row: 2;
	text-align: center;
	font-weight: 600;
}

#contactForm{
	grid-column: 2 / 5;
	grid-row: 2;

	display: grid;
	grid-template-columns: 1fr;
  	grid-gap: 20px;
}

#successHdr{
	grid-column: 2 / 5;
	grid-row: 2;
	text-align: center;
}

#successMsg{
	grid-column: 2 / 5;
	grid-row: 3;
	text-align: center;
}

.formPg a{
	color:#ef746f;
}

.formPg a:hover{
	color:#ab3e5b;
}

#frontPg, #aboutPg{
	display: grid;
	grid-template-columns: 1fr;
  	grid-gap: 10px;
}

#contactInfo a{
	color:#ef746f;
	text-decoration: none;
	font-weight: 600;
}

#contactInfo a:hover{
	color:#ab3e5b;
}

label{
	font-weight: 600;
}

input[type=submit] {
	background-color:#ef746f;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	padding: 5px;
	width: 100%;
	border: none;
	font-size: 16px;
}

input[type=text],input[type=email], input[type=password], input[type=file], input[type=phone], textarea, select{
	width: 100%;
	border: 1px solid #ccc;
	padding: 5px;
}