header, footer{
	display: grid;
	grid-template-columns: 1fr;
  	grid-gap: 10px;
}

.left-corner{
	grid-column: 1;
  	grid-row: 1;
  	justify-self: center;
}

#logo{
	width: 50%;
}

#logo img{
	width: 100%;
}

nav{
	grid-column: 1;
  	grid-row: 2;

  	display: flex;
	justify-content: space-evenly;
	align-self: center;
}

nav a{
	color: #fff;
	text-decoration: none;
	margin-right: 0px;
}

.heroMsg, .spacer{
	padding: 20px;
	text-align: center;
}

.recentCntnr{
	display: grid;
	grid-template-columns: 1fr;
  	grid-gap: 10px;
}

.recentCntnr h1{
	grid-column: 1;
	grid-row: 1;
	text-align: center;
}

#browseCntnr{
	display: grid;
	grid-template-columns: 1fr;
  	grid-gap: 10px;
}

aside{
	grid-column: 1;
  	grid-row: 1;
  	padding-right: 0px;
}

#results{
	grid-column: 1;
	grid-row: 2;

	display: grid;
	grid-template-columns: 2fr;
  	grid-gap: 10px;
}

main{
	display: grid;
	grid-template-columns: 1fr;
  	grid-gap: 20px;
}

.profilePic{
	grid-column: 1;
	grid-row: 1;
  	width: 100%;
}

.profile{
	grid-column: 1;
  	grid-row: 2;

  	display: grid;
	grid-template-columns: 1fr;
  	grid-gap: 10px;
}

.heading{
	grid-column: 1;
  	grid-row: 1;
}

.a{
	grid-column: 1;
	grid-row: 2;
}

.b{
	grid-column: 1;
	grid-row: 3;
}

#likeBtn{
	width: 15%;
	margin-top: 10px;
}

.description{
	grid-column: 1;
  	grid-row: 4;
}

#shelterProfile, #userProfile{
	grid-column: 1;
  	grid-row: 1;

  	display: grid;
	grid-template-columns: 1fr;
  	grid-gap: 10px;
}

#shelterProfile img, #userProfile img{
	grid-column: 1;
  	grid-row: 1;
  	width: 100%;
}

.nameRow{
	grid-column: 1;
  	grid-row: 2;
}

.editBtn{
	grid-column: 1;
	grid-row: 3;

	display: flex;
	justify-content: center;
}

.shelterProfile h3, #userProfile h2{
	grid-column: 1;
	grid-row: 4;
}

.infoColA, #contactInfo{
	grid-column: 1;
  	grid-row: 5;
}

.infoColB{
	grid-column: 1;
  	grid-row: 6;
}

.infoColC{
	grid-column: 1;
  	grid-row: 7;
}

#shelterPets, #matches{
	grid-column: 1;
  	grid-row: 2;

  	display: grid;
	grid-template-columns: 1fr;
  	grid-gap: 10px;
}

#shelterPets h1{
	grid-column: 1;
	grid-row: 1;
	text-align: center;
}

.formPg{
	display: grid;
	grid-template-columns: 1fr;
  	grid-gap: 10px;
}

.formPg h1{
	grid-column: 1;
	grid-row: 1;
	text-align: center;
}

.formPg form{
	grid-column: 1;
	grid-row: 2;

	display: grid;
	grid-template-columns: 1fr;
  	grid-gap: 20px;
}

.formPg p{
	grid-column: 1;
	grid-row: 2;
	text-align: center;
	font-weight: 600;
}

.formPg .altForm{
	grid-column: 1;
	grid-row: 3;

	display: grid;
	grid-template-columns: 1fr;
  	grid-gap: 20px;
}

#contactForm{
	grid-column: 1;
	grid-row: 2;

	display: grid;
	grid-template-columns: 1fr;
  	grid-gap: 20px;
}
